In [1]:
import pandas as pd

We load the files :

In [18]:
BAAC_2010_carac = pd.read_csv("Data/TRAIN/BAAC-Annee-2010/caracteristiques_2010.csv", encoding="latin1")

BAAC_2010_carac.head()

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201000000001,10,6,12,1930,1,2,1,1.0,6.0,52,71 RUE JEAN JAURES,M,0.0,0.0,590
1,201000000002,10,8,7,1000,1,2,1,1.0,6.0,477,Rue Nationale,M,5051600.0,292000.0,590
2,201000000003,10,9,11,1600,1,1,1,1.0,5.0,11,NaN,M,0.0,0.0,590
3,201000000004,10,9,22,1630,1,2,1,1.0,6.0,477,43 rue Nationale,M,5051800.0,292500.0,590
4,201000000005,10,10,25,1215,1,2,1,1.0,2.0,52,RUE GHESQUIERES,M,5050800.0,289700.0,590

In [19]:
BAAC_2010_place = pd.read_csv("Data/TRAIN/BAAC-Annee-2010/lieux_2010.csv", encoding="latin1")

BAAC_2010_place.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1
0,201000000001,3,39.0,NaN,NaN,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,60.0,1.0,0.0,1.0,0.0
1,201000000002,3,39.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,201000000003,3,41.0,2.0,NaN,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,61.0,1.0,0.0,1.0,0.0
3,201000000004,3,39.0,NaN,NaN,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,68.0,1.0,0.0,1.0,0.0
4,201000000005,3,239.0,NaN,NaN,2.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0

In [20]:
BAAC_2010_users = pd.read_csv("Data/TRAIN/BAAC-Annee-2010/usagers_2010.csv", encoding="latin1", sep=",")

BAAC_2010_users.head()

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0,201000000001,1.0,1,3,1,5.0,21.0,0.0,0.0,0.0,1976.0,A01
1,201000000002,1.0,1,1,2,5.0,11.0,0.0,0.0,0.0,1983.0,A01
2,201000000002,NaN,3,3,1,0.0,NaN,4.0,3.0,1.0,1965.0,A01
3,201000000003,1.0,1,3,1,5.0,23.0,0.0,0.0,0.0,1979.0,A01
4,201000000003,1.0,1,1,2,5.0,11.0,0.0,0.0,0.0,1959.0,C03

In [21]:
BAAC_2010_vehic = pd.read_csv("Data/TRAIN/BAAC-Annee-2010/vehicules_2010.csv", encoding="latin1")

BAAC_2010_vehic.head()

        Num_Acc  senc  catv  occutc  obs  obsm  choc  manv num_veh
0  201000000001     0    30       0  1.0   0.0   1.0   1.0     A01
1  201000000002     0     7       0  0.0   1.0   1.0   1.0     A01
2  201000000003     0    33       0  0.0   2.0   1.0  17.0     A01
3  201000000003     0     7       0  0.0   9.0   3.0  23.0     C03
4  201000000003     0     7       0  0.0   9.0   6.0   1.0     B02

In [22]:
BAAC_2010_immat = pd.read_csv("Data/TRAIN/BAAC-Annee-2010/immatriculations-2010.csv", encoding="latin1", sep=";")

BAAC_2010_immat.head()

,Id_accident,Lettre Conventionnelle VÃ©hicule,AnnÃ©e,Lieu Admin Actuel - Territoire Nom,Type Accident - LibellÃ©,CNIT,CatÃ©gorie vÃ©hicule,Age vÃ©hicule
0,64Â 008Â 784,A,2010,DOM,Accident grave non mortel,JH2PC35A22M3000,Moto lourde,8.0
1,64Â 008Â 784,B,2010,DOM,Accident grave non mortel,NaN,VT,10.0
2,64Â 008Â 785,A,2010,Autres OM,Accident grave non mortel,NaN,VT,NaN
3,64Â 008Â 786,A,2010,DOM,Accident grave non mortel,NaN,VT,20.0
4,64Â 008Â 787,A,2010,DOM,Accident grave non mortel,LKW17L40P199,Moto lourde,0.0

Now, we are looking if we can concatenate all in one data frame :

In [23]:
print(f"The file containing the CARACTERISTIQUES has the following shape : {BAAC_2010_carac.shape[0] * BAAC_2010_carac.shape[1]}")
print(f"The file containing the IMMATRICULAITONS has the following shape : {BAAC_2010_immat.shape[0] * BAAC_2010_immat.shape[1]}")
print(f"The file containing the VEHICULES has the following shape : {BAAC_2010_vehic.shape[0] * BAAC_2010_vehic.shape[1]}")
print(f"The file containing the PLACES has the following shape : {BAAC_2010_place.shape[0] * BAAC_2010_place.shape[1]}")
print(f"The file containing the USERS has the following shape : {BAAC_2010_users.shape[0] * BAAC_2010_users.shape[1]}")

The file containing the CARACTERISTIQUES has the following shape : 1110064
The file containing the IMMATRICULAITONS has the following shape : 915320
The file containing the VEHICULES has the following shape : 1059687
The file containing the PLACES has the following shape : 1248822
The file containing the USERS has the following shape : 1850304

The global format is not fascinating. As we have a lot of datas, we look forward on the 2012 to 2022 instead...