In [1]:
import pandas as pd

# Chargement du jeu de données 
full_data = pd.read_csv('Data/TRAIN_FULL/data_usagers.csv', low_memory=False)

full_data.head()

,place,catu,grav,sexe,trajet,locp,actp,etatp,an_nais,senc,...,surf,infra,situ,env1,secu1,secu2,secu3,motor,vma,id_usager
0,1,1,0,0,5,9,9,-1,1939,0.0,...,1.0,0.0,1.0,0.0,1,8,8,NaN,NaN,NaN
1,10,3,0,1,5,3,3,2,2008,0.0,...,1.0,0.0,1.0,0.0,8,8,8,NaN,NaN,NaN
2,1,1,0,1,5,9,9,-1,1994,0.0,...,1.0,0.0,1.0,99.0,8,8,8,NaN,NaN,NaN
3,2,2,0,1,9,9,9,-1,1992,0.0,...,1.0,0.0,1.0,99.0,1,8,8,NaN,NaN,NaN
4,1,1,0,1,5,9,9,-1,1976,0.0,...,1.0,0.0,1.0,99.0,2,8,8,NaN,NaN,NaN

### Caractéristiques

Les fichiers caractéristiques contiennent globalement des informations relatives aux contextes de l'accident d'un point de vue conditions météorologiques, temporelles, etc.

#### jour, mois, an, hrmm 

- **jour** : jour de l'accident.
- **mois** : mois de l'accident.
- **an** : année de l'accident.
- **hrmn** : heure et minutes de l'accident.

Ces informations sont cruciales, car des périodes pourraient être plus propices à des accidents graves. Un exemple serait qu'en hiver, une visibilité plus faible est observée ou bien un taux de suicide plus important pourrait expliquer une hausse de la gravité des accidents. En somme, sans fournir de justifications, ces informations peuvent être pertinentes.

In [129]:
# Traitement sur les années pour harmoniser la forme des étiquettes [2012 et non 12 par exemple]
test_data.loc[(test_data['an'] >= 12) & (test_data['an'] <= 18), 'an'] += 2000

# Harmonise hr:mn de type string en int
def convert_to_int(time_str):
    if isinstance(time_str, str):
        hours, minutes = map(int, time_str.split(':'))
        return hours * 100 + minutes
    else:
        return time_str

test_data['hrmn'] = test_data['hrmn'].apply(convert_to_int)

# Converti en valeur numérique
convert_float_to_int(test_data, 'hrmn')

# Traitement des minutes 
def generate_intervals(start, end, step):
    intervals = []
    for i in range(start, end, step):
        intervals.append((i, i + step))
    return intervals

# Generate intervals automatically for each 100 units
intervals = generate_intervals(0, 2400, 100)
simple_values = list(range(len(intervals)))

# Function to map values to simple values based on intervals
def map_to_simple_value(value):
    for i, interval in enumerate(intervals):
        if interval[0] <= value < interval[1]:
            return simple_values[i]
    return None  # Return None if value is outside all intervals

# Apply the mapping function to the column and create a new column with the simple values
test_data['hrmn'] = test_data['hrmn'].apply(map_to_simple_value)

# Converti en variable catégorielle
convert_float_to_cat(test_data, 'jour')
convert_float_to_cat(test_data, 'mois')
convert_float_to_cat(test_data, 'an')
convert_float_to_cat(test_data, 'hrmn')

NameError: name 'test_data' is not defined

In [ ]:
test_data['jour'].dtype

In [ ]:
test_data['mois'].dtype

In [ ]:
test_data['an'].dtype

In [ ]:
test_data['hrmn'].dtype

In [ ]:
test_data.head()